.input-field div.error{
    position: relative;
    top: -1rem;
    right: 0;
    text-align: right;
    font-size: 0.8rem;
    color:#FF4081;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.success {
    background-color: white;
    font-weight: bold;
    color: #2e7d32;
}

.failed {
    background-color: white;
    font-weight: bold;
    color: #c62828;
}

#side-menu {
    width: 220px;
}
